* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.container-main__item-1 img,
.container-main__item-2 img,
.container-main__item-3 img,
.container-main__item-4 img,
.container-main__item-5 img, 
.container-main__item-6 img{
    width: 100%;
}

.container-main {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6rem;
}

.container-main__item-1, 
.container-main__item-2, 
.container-main__item-3, 
.container-main__item-4, 
.container-main__item-5,
.container-main__item-6 {
    width: 100%;
    min-width: 150px;
}
.container-main__item-1, 
.container-main__item-2, 
.container-main__item-4{
padding: 3% 0;
justify-content: center;
text-align: center;
}

.container-main__item-6 {
  margin-top: 50px;
}
