* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.container-main__item-1 img,
.container-main__item-2 img,
.container-main__item-3 img,
.container-main__item-4 img,
.container-main__item-5 img {
    width: 100%;
}

.container-main {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6rem;
}

.container-main__item-1, 
.container-main__item-2, 
.container-main__item-3, 
.container-main__item-4, 
.container-main__item-5 {
    width: 100%;
    min-width: 150px;
}
.container-main__item-1, 
.container-main__item-2, 
.container-main__item-4{
padding: 3%;
justify-content: center;
text-align: center;
}

.container-main__item-1 {
  margin-top: 50px;
}

.container-main__item-5 {
  margin-bottom: 100px;
}



.footer-dark {
    color:#fff;
    background-color:#282d32;
    position:sticky;
    top:100%;
  }
  
  .footer-dark h3 {
    margin-top:20px;
    margin-bottom:8px;
    font-weight:normal;
    font-size:16px;
  }

  .left-text
  {
    background-color:white;
  }

  .footer-dark button
  {
    border-radius: 2px;
    box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.3), 0 6px 10px 0 rgba(0,0,0,0.30);
    border:none;
  
  }

  .footer-dark ul {/*texto de adentro de Mas informacion*/
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:10px;
    margin-bottom:0;
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }

.footer-brand>img
{
  height:25px;
  margin-left:50px;
  margin-bottom: 10px;
}
#textoRS
{
  margin-right: 16px;
}  
.socialIcons
{
  text-align: right;
  font-size: 30px;
  padding:0px;
}

  .footer-dark .copyright {
    font-size:12px;
    text-align:left;
    margin-bottom: 2px;
    color:white;
    opacity: 0.3;
  }

  .footer-dark .opcionesFooter {
    font-size:12px;
    text-align:right;
    margin-bottom: 2px;
    color:white;
    opacity: 0.3;
  }
