* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.container-main__item-1 img,
.container-main__item-2 img,
.container-main__item-3 img,
.container-main__item-4 img,
.container-main__item-5 img {
    width: 100%;
}

.container-main {
    /* display: flex; */
    flex-wrap: wrap;
    font-size: 1.6rem;
    margin-bottom: 10%;
}

.container-main__item-1, 
.container-main__item-2, 
.container-main__item-3, 
.container-main__item-4, 
.container-main__item-5 {
    width: 100%;
    min-width: 150px;
}
.container-main__item-2, 
.container-main__item-3,
.container-main__item-4{
padding: 3%;
justify-content: center;
text-align: center;
}

.container-main__item-1 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.container-main__item-5 {
  margin-bottom: 50px;
}

.container-main__item-4 {
  margin-bottom: 50px;
  display: flex;

}
.container-main__item-2 table,
.container-main__item-3 table {
  border-radius: 6px 6px 6px 6px;
  border: 5px solid #000;  
  border-collapse: collapse; 
  border-spacing: 1;
  width: 300px;
}
.container-main__item-2 tr,
.container-main__item-3 tr {
  line-height: 50px;
}


th:first-child {
  border-radius: 6px 0 0 0;
}

th:last-child {
  border-radius: 0 6px 0 0;
}

th:only-child{
  border-radius: 6px 6px 0 0;
}

#contenido tr, #contenido2 tr{
  border-bottom: 1px solid black;
}


.container {
  padding-top: 3%;
}
#pendientes{
  background-color: #219ebc;
  
}
#completadas{
  background-color: #8ecae6;
}

#tituloTareas{
  text-align: center;

}

.subtitle{
  text-align: center;
  text-transform:uppercase;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
}

#tituloTareas{
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
  font-size: 72px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ffb703;
  border-left: 10px solid #fb8500;
  border-right: 10px solid #fb8500;
  height: 15%;
  text-transform:uppercase;
}

#contTablas{
  padding: 0 20px;
}